{% extends "layout.html" %}

{% block main %}
<h2>Inflight_Information</h2>
    <article>
                            Live data feed:
                            <p id="date" style="display: inline"></p>
                            <p id="time" style="display: inline"></p>
                            <br>
                            <p id="Q6_1" style="display: inline"></p>
                            <p id="Q6_2" style="display: inline"></p>
                            <p id="Q6_3" style="display: inline"></p>
                            <br>
                            <p id="RawAX" style="display: inline"></p>
                            <p id="RawAY" style="display: inline"></p>
                            <p id="RawAZ" style="display: inline"></p>
                            <br>
                            <p id="RawGX" style="display: inline"></p>
                            <p id="RawGY" style="display: inline"></p>
                            <p id="RawGZ" style="display: inline"></p>
                            <br>
                            <p id="RawMX" style="display: inline"></p>
                            <p id="RawMY" style="display: inline"></p>
                            <p id="RawMZ" style="display: inline"></p>
                            <br>
                            <p id="gps_Lat" style="display: inline"></p>
                            <p id="gps_Long" style="display: inline"></p>
                            <p id="gps_Alt" style="display: inline"></p>
                            <br>
                            <p id="gps_GroundSpeed" style="display: inline"></p>
                            <p id="gps_Heading" style="display: inline"></p>
                            <br>
                            <p id="degC" style="display: inline"></p>
                            <p id="pressure_hPa" style="display: inline"></p>
                            <p id="pressure_Pa" style="display: inline"></p>
                            <p id="altitude_m" style="display: inline"></p>
                            <br>
                            <p id="output_Hz" style="display: inline"></p>
                            <p id="count" style="display: inline"></p>
    </article>
<div>

                <div >
                    <article >
                        <section id="chart_RawA">

                        </section>
                    </article>

                    <article >
                        <section id="chart_RawG">

                        </section>
                    </article>

                    <article >
                        <section id="chart_RawM">

                        </section>
                    </article>
                    <article>
                        <section id="chart_Q">
                        </section>
                    </article>
                </div>

                <div>
                    <article >
                        <section id="chart_temp">

                        </section>
                    </article>
                    <article >
                        <section id="chart_gps_loc" >
                        </section>
                    </article>
                    <article>
                        <section id="chart_gps_ex">
                        </section>
                    </article>
                </div>

                <!-- 3rd column -->
                <div>
                    <article>
                        <section id="chart_alt" >

                        </section>
                    </article>
                    <article>
                        <section id="chart_pre_hpa">
                        </section>
                    </article>
                    <article>
                        <section id="chart_pre_pa">
                        </section>
                    </article>

                </div>
            </div>




{% endblock %}