{% load static %}


<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{% block title %}Flights{% endblock %}</title>

        <link href="{% static 'apexcharts.css' %}" rel="stylesheet">
        <link rel="stylesheet" href="{% static 'uaa490-styles.css'  %}">
    </head>
    <body>
        <div class="navbar">
            <h1>Flight page</h1>
        </div>
        <main>
            {% block main %}
            {% endblock %}
        </main>
    <script src="{% static 'listenerClient.js' %}"></script>
    <script src="{% static 'apexcharts.js' %}"></script>
    </body>
</html>